{% extends "base.html" %}

{% block content %}

<body>
	<!-- Page Preloder -->
	<div id="preloder">
		<div class="loader"></div>
	</div>

	<!-- Header section -->
	<header class="header-section">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 col-md-3">
					<div class="site-logo">
						<img src="img/logo.png" alt="">
					</div>
					<div class="nav-switch">
						<i class="fa fa-bars"></i>
					</div>
				</div>
				<div class="col-lg-9 col-md-9">
					
					<nav class="main-menu">
						<ul>
							<li><a href="{{ url_for('home') }}">Home</a></li>
							<li><a href="#">About us</a></li>
							<li><a href="contact.html">Contact</a></li>
						</ul>
					</nav>
				</div>
			</div>
		</div>
	</header>
	<!-- Header section end -->


	<!-- Page info -->
	<div class="page-info-section set-bg" data-setbg="{{ url_for('static', filename='img/real-space.jpg') }}">
		<div class="container">
			<div class="site-breadcrumb">
				<a href="{{ url_for('home') }}">Home</a>
				
			</div>
		</div>
	</div>
    <!-- Page info end -->

       
    	<!-- banner section -->
	<section class="banner-section spad">
		<div class="container">
			<div class="section-title mb-0 pb-2">
				<h2>Sorry, there is a server error!</h2>
				<p>We are working on it. Please try again in a while.</p>
			</div>
			
		</div>
	</section>
	<!-- banner section end -->

   


</body>


{% endblock %}